# Import Libraries & Load Data

In [7]:
import os
import warnings

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import Lasso
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.inspection import PartialDependenceDisplay

warnings.filterwarnings("ignore")

RANDOM_STATE = 42
DATA_DIR = "./data"
EXERCISE_PATH = os.path.join(DATA_DIR, "exercise.csv")
CALORIES_PATH = os.path.join(DATA_DIR, "calories.csv")

print("Dataset Paths")
print("Exercise CSV path:", EXERCISE_PATH)
print("Calories CSV path:", CALORIES_PATH)

exercise = pd.read_csv(EXERCISE_PATH)
calories = pd.read_csv(CALORIES_PATH)

print("\nDataset Dimensions")
print("Exercise Shape:", exercise.shape)
print("Calories Shape:", calories.shape)

print("\n \nDataset First 5 rows!")
display(exercise.head())
display(calories.head())

Dataset Paths
Exercise CSV path: ./data/exercise.csv
Calories CSV path: ./data/calories.csv

Dataset Dimensions
Exercise Shape: (15000, 8)
Calories Shape: (15000, 2)


Dataset First 5 rows!

    User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0  14733363    male   68   190.0    94.0      29.0       105.0       40.8
1  14861698  female   20   166.0    60.0      14.0        94.0       40.3
2  11179863    male   69   179.0    79.0       5.0        88.0       38.7
3  16180408  female   34   179.0    71.0      13.0       100.0       40.5
4  17771927  female   27   154.0    58.0      10.0        81.0       39.8

    User_ID  Calories
0  14733363     231.0
1  14861698      66.0
2  11179863      26.0
3  16180408      71.0
4  17771927      35.0